doctype html
html
  include includes/header.pug
  body
    .icons
    svg.icon-fluid
      use(xlink:href="#icon-phone")
    h1 Test PUG
    img.d-none(src="../img/bg.jpg" alt="")  
    div.bg
    include includes/footer.pug